In [2]:
import pandas as pd
import numpy as np

In [3]:
target_output=pd.read_excel('recipe_to_load.xlsx')

b_r_birch=pd.read_excel('beverage_recipe_birchstreet.xlsx',header=5)
b_r_birch = b_r_birch[b_r_birch['Recipe type'] == 'Recipe']

b_i_birch=pd.read_excel('ingredient_masterlist_birchsreet.xlsx')

c_i_birch=pd.read_excel('Category_ingredient_BirchStreet.xlsx')
agbsrc=pd.read_excel('agbcode_file.xlsx')

In [4]:

column_names = target_output.columns.tolist()


print(column_names)

['resto', 'subRecipe', 'recipeGroup', 'recipeGroupParent', 'recipeName', 'recipeCompose', 'agbcode', 'quantity', 'cost', 'InventoryCode', 'unit', 'quantityAfter', 'portion', 'statut', 'photo', 'selling', 'category', 'subcategory']

In [5]:
b_r_birch['resto'] = 'birchstreet'

b_r_birch['recipeGroup'] = 'Beverage'

b_r_birch['recipeGroupParent'] = np.nan

b_r_birch['agbcode'] = np.nan
b_r_birch['category'] = np.nan
b_r_birch['subcategory'] = np.nan

b_r_birch['photo'] = 'no'

b_r_birch['cost'] = np.nan
b_r_birch['InventoryCode'] = np.nan

b_r_birch['subRecipe'] = np.nan

In [6]:
b_r_birch.rename(columns={'Ingredient/Subrecipe name': 'recipeCompose'}, inplace=True)

b_r_birch.rename(columns={'Dish/Recipe name': 'recipeName'}, inplace=True)

b_r_birch.rename(columns={'UOM': 'unit'}, inplace=True)

In [7]:
b_r_birch['quantityAfter'] = b_r_birch['Quantity'].copy()

In [8]:
# Function to extract the first 8 characters from the 'recipeCompose' column
def extract_first_8_chars(recipe):
    return recipe[:8]

b_r_birch['SKU'] = b_r_birch['recipeCompose'].apply(extract_first_8_chars)

merged_df = pd.merge(b_r_birch, b_i_birch[['Supplier SKU', 'Unit price']], how='left', left_on='SKU', right_on='Supplier SKU')

b_r_birch['cost'] = merged_df['Unit price']

In [9]:
merged_df = pd.merge(b_r_birch, c_i_birch[['AGBCode','Part #']], how='left', left_on='SKU', right_on='Part #')

b_r_birch['agbcode'] = merged_df['AGBCode']

In [10]:
merged_df = pd.merge(b_r_birch, agbsrc[['Code\nAGB','WiseFins EN Category','WiseFins EN Subcategory']], how='left', left_on='agbcode', right_on='Code\nAGB')

b_r_birch['category'] = merged_df['WiseFins EN Category']
b_r_birch['subcategory'] = merged_df['WiseFins EN Subcategory']

In [11]:
# Suppose 'b_r_birch' is your DataFrame
column_names = b_r_birch.columns.tolist()

# Print or use the column names as needed
print(column_names)

['Property #', 'recipeName', 'Recipe ID', 'Recipe type', 'Quantity', 'unit', 'recipeCompose', 'Ingredient/Subrecipe ID', 'Ingredient Preparation', 'Supplier item description', 'resto', 'recipeGroup', 'recipeGroupParent', 'agbcode', 'category', 'subcategory', 'photo', 'cost', 'InventoryCode', 'subRecipe', 'quantityAfter', 'SKU']

In [12]:
column_order = ['resto', 'subRecipe', 'recipeGroup', 'recipeGroupParent', 'recipeName', 'recipeCompose', 'agbcode', 'Quantity', 'cost', 'InventoryCode', 'unit', 'quantityAfter', 'photo','category','subcategory','SKU']

# Reorder the columns
b_r_birch = b_r_birch[column_order]

In [13]:
b_r_birch.columns

Index(['resto', 'subRecipe', 'recipeGroup', 'recipeGroupParent', 'recipeName',
       'recipeCompose', 'agbcode', 'Quantity', 'cost', 'InventoryCode', 'unit',
       'quantityAfter', 'photo', 'category', 'subcategory', 'SKU'],
      dtype='object')

In [14]:
target_output.columns

Index(['resto', 'subRecipe', 'recipeGroup', 'recipeGroupParent', 'recipeName',
       'recipeCompose', 'agbcode', 'quantity', 'cost', 'InventoryCode', 'unit',
       'quantityAfter', 'portion', 'statut', 'photo', 'selling', 'category',
       'subcategory'],
      dtype='object')

In [15]:
b_r_birch.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1115 entries, 289 to 1403
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   resto              1115 non-null   object
 1   subRecipe          0 non-null      float64
 2   recipeGroup        1115 non-null   object
 3   recipeGroupParent  0 non-null      float64
 4   recipeName         1115 non-null   object
 5   recipeCompose      1115 non-null   object
 6   agbcode            613 non-null    object
 7   Quantity           1115 non-null   float64
 8   cost               1098 non-null   float64
 9   InventoryCode      0 non-null      float64
 10  unit               1115 non-null   object
 11  quantityAfter      1115 non-null   float64
 12  photo              1115 non-null   object
 13  category           70 non-null     object
 14  subcategory        70 non-null     object
 15  SKU                1115 non-null   object
dtypes: float64(6), object(10)
memory usage: 148.1+ KB

In [16]:
b_r_birch.head()

,resto,subRecipe,recipeGroup,recipeGroupParent,recipeName,recipeCompose,agbcode,Quantity,cost,InventoryCode,unit,quantityAfter,photo,category,subcategory,SKU
289,birchstreet,NaN,Beverage,NaN,Cocktail - Vodkatini Martini 20000002,L265.014 Noilly Prat Ex Dry1000ml,1001,10.0,55.00,NaN,ML,10.0,no,NaN,NaN,L265.014
290,birchstreet,NaN,Beverage,NaN,Cocktail - Vodkatini Martini 20000002,L255.001 Absolute Blue BtEach,18058,90.0,55.00,NaN,ML,90.0,no,alcoholic beverage,spirits,L255.001
291,birchstreet,NaN,Beverage,NaN,Cocktail - Bombay Martini Martini 20000005,L265.014 Noilly Prat Ex Dry1000ml,1001,5.0,1032.00,NaN,ML,5.0,no,NaN,NaN,L265.014
292,birchstreet,NaN,Beverage,NaN,Cocktail - Bombay Martini Martini 20000005,"L257.014 Gin Beefeater,700mlBtl",1003,90.0,80.57,NaN,ML,90.0,no,NaN,NaN,L257.014
293,birchstreet,NaN,Beverage,NaN,Cocktail - Apple Truffle MARTINI_HP 20000007,"L257.001 Gin Beefeater 24700ml, Each",18058,45.0,89.00,NaN,ML,45.0,no,NaN,NaN,L257.001

In [40]:
target_output.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138 entries, 0 to 137
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   resto              138 non-null    object
 1   subRecipe          13 non-null     object
 2   recipeGroup        138 non-null    object
 3   recipeGroupParent  138 non-null    object
 4   recipeName         138 non-null    object
 5   recipeCompose      138 non-null    object
 6   agbcode            115 non-null    object
 7   quantity           137 non-null    float64
 8   cost               130 non-null    float64
 9   InventoryCode      110 non-null    float64
 10  unit               138 non-null    object
 11  quantityAfter      138 non-null    float64
 12  portion            132 non-null    float64
 13  statut             138 non-null    object
 14  photo              138 non-null    object
 15  selling            138 non-null    float64
 16  category           0 non-null      float64
 17  subcategory        0 non-null      float64
dtypes: float64(8), object(10)
memory usage: 19.5+ KB