In [1]:
import pandas as pd
import numpy as np

In [2]:
target_output=pd.read_excel('recipe_to_load.xlsx')

f_r_check=pd.read_excel('food_recipe_checkscm.xlsx')

In [ ]:
f_i_m_check=pd.read_excel('food_ingredient_masterlist_checkscm.xlsx')

In [3]:
f_r_check.head(2)

,Cost Centre,Recipe Group,Recipe Type,Class,Sub Class,Recipe Number,Recipe Description,Status,Tax code,Tax Rate%,Serve Size,No. of Serve,Unit Cost,Total Cost,Suggested Selling Price,Margin,Cost%
0,201,FOOD,ALACARTE,APPETIZER,NaN,362,ROMA-TRIPA ALLA ROMANA,Activate,GS8,8.0,PORTION,1.0,12.419080,12.419080,36.0,-23.580920,0.344974
1,201,FOOD,ALACARTE,APPETIZER,NaN,376,ROMA- FAGOTELLI,Activate,GS8,8.0,PORTION,1.0,14.910124,14.910124,56.0,-41.089876,0.266252

In [4]:
f_i_m_check.head(2)

,Site,Cost Centre,Department,Group,Type,Product,Product Description,Stock Size,Avg. Price,Opening Lvl. Qty,...,Write Off Qty,Write Off Cost,Sales Qty,Sales Cost,Movement Qty,Movement Cost,Variation Qty,Variation Cost,Variation Value Qty,Variation Value Cost
0,HOTEL 3,BANQUET CHINESE KITCHEN,FOOD | FOOD,COOKED | COOKED,DIMSUM | DIMSUM,1004000001,CRAB KING CAKE BREADED PREMIUM 45GM,BOX50PCS,130.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,HOTEL 3,BANQUET CHINESE KITCHEN,FOOD | FOOD,COOKED | COOKED,DIMSUM | DIMSUM,1004000002,BREADED DORY FINGER,KG,14.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
column_names = target_output.columns.tolist()
print(column_names)

['resto', 'subRecipe', 'recipeGroup', 'recipeGroupParent', 'recipeName', 'recipeCompose', 'agbcode', 'quantity', 'cost', 'InventoryCode', 'unit', 'quantityAfter', 'portion', 'statut', 'photo', 'selling', 'category', 'subcategory']

In [5]:
f_r_check['resto'] = 'checkscm'
f_r_check['subRecipe'] = np.nan
f_r_check.rename(columns={'Recipe Group': 'recipeGroup'}, inplace=True)
f_r_check.rename(columns={'Class': 'recipeGroupParent'}, inplace=True)
f_r_check.rename(columns={'Recipe Description': 'recipeName'}, inplace=True)
f_r_check['recipeCompose'] = np.nan
f_r_check['agbcode'] = np.nan
f_r_check['quantity'] = np.nan
f_r_check.rename(columns={'Unit Cost': 'cost'}, inplace=True)
f_r_check['InventoryCode'] = np.nan
f_r_check.rename(columns={'Serve Size': 'unit'}, inplace=True)
f_r_check['quantityAfter'] = np.nan
f_r_check.rename(columns={'No. of Serve': 'portion'}, inplace=True)
f_r_check.rename(columns={'Status': 'statut'}, inplace=True)
f_r_check['photo'] = np.nan
f_r_check.rename(columns={'Suggested Selling Price': 'selling'}, inplace=True)
f_r_check['category'] = np.nan
f_r_check['subcategory'] = np.nan

In [6]:
column_order = ['resto', 'subRecipe', 'recipeGroup', 'recipeGroupParent', 'recipeName', 'recipeCompose', 'agbcode', 'quantity', 'cost', 'InventoryCode', 'unit', 'quantityAfter', 'portion', 'statut', 'photo', 'selling', 'category', 'subcategory']

# Reorder the columns
f_r_check = f_r_check[column_order]

In [7]:
f_r_check.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3834 entries, 0 to 3833
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   resto              3834 non-null   object
 1   subRecipe          0 non-null      float64
 2   recipeGroup        3834 non-null   object
 3   recipeGroupParent  3834 non-null   object
 4   recipeName         3834 non-null   object
 5   recipeCompose      0 non-null      float64
 6   agbcode            0 non-null      float64
 7   quantity           0 non-null      float64
 8   cost               3834 non-null   float64
 9   InventoryCode      0 non-null      float64
 10  unit               3834 non-null   object
 11  quantityAfter      0 non-null      float64
 12  portion            3834 non-null   float64
 13  statut             3834 non-null   object
 14  photo              0 non-null      float64
 15  selling            3834 non-null   float64
 16  category           0 non-null      float64
 17  subcategory        0 non-null      float64
dtypes: float64(12), object(6)
memory usage: 539.3+ KB

In [8]:
f_r_check.head()

,resto,subRecipe,recipeGroup,recipeGroupParent,recipeName,recipeCompose,agbcode,quantity,cost,InventoryCode,unit,quantityAfter,portion,statut,photo,selling,category,subcategory
0,checkscm,NaN,FOOD,APPETIZER,ROMA-TRIPA ALLA ROMANA,NaN,NaN,NaN,12.419080,NaN,PORTION,NaN,1.0,Activate,NaN,36.0,NaN,NaN
1,checkscm,NaN,FOOD,APPETIZER,ROMA- FAGOTELLI,NaN,NaN,NaN,14.910124,NaN,PORTION,NaN,1.0,Activate,NaN,56.0,NaN,NaN
2,checkscm,NaN,FOOD,APPETIZER,ROMA-CREAMA DI CASTAGNE AL TARTUFO,NaN,NaN,NaN,13.714669,NaN,PORTION,NaN,1.0,Activate,NaN,40.0,NaN,NaN
3,checkscm,NaN,FOOD,APPETIZER,CT - 4 COURSE MENU,NaN,NaN,NaN,89.722900,NaN,GLASS,NaN,1.0,Activate,NaN,0.0,NaN,NaN
4,checkscm,NaN,FOOD,APPETIZER,testing,NaN,NaN,NaN,5.450000,NaN,PAX,NaN,1.0,Activate,NaN,0.0,NaN,NaN