In [6]:
import pandas as pd
import json

In [11]:
df: pd.DataFrame = pd.read_excel(
    "data\\20231207_client_data\\export from Purchasing software\\ISCALA (Hotel 2)\\food_recipe_iscala.xlsx",
    sheet_name='Sheet1',
    skiprows=6,
    header=None
)

df.head()

,0,1,2,3,4,5,6,7,8,9,...,36,37,38,39,40,41,42,43,44,45
0,Template : F10000001 DK Caesar Salad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,102.462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lettuce Romaine AF,NaN,...,237.50,NaN,NaN,NaN,NaN,NaN,59.38,NaN,NaN,NaN
2,134.725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cheese Parmesan 14/16,NaN,...,689.00,NaN,NaN,NaN,NaN,NaN,20.67,NaN,NaN,NaN
3,136.855,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pepper Black/Whit Crack,NaN,...,300.00,NaN,NaN,NaN,NaN,NaN,0.30,NaN,NaN,NaN
4,414.304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bacon Crisps,NaN,...,"14,080.00",NaN,NaN,NaN,NaN,NaN,14.08,NaN,NaN,NaN

In [8]:
df = df.dropna(axis = 0, how = 'all')
df = df[~df[0].isin(['- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -'])]

In [9]:
list_products: list[dict] = []
current_product: dict = {}
list_ingredients: list[dict] = []

for index, row in df.iterrows():
    # First item row
    if str(row[0]).find('Template : ') != -1:
        current_product = {
            "name": row[0][12:]
        }

        continue
    
    # Last item row
    if str(row[0]) == 'Total for Stock Item':
        current_product['total'] : dict = {
            # TODO rename
            'total_first_col': row[11],
            'total_second_col': row[17],
            'total_third_col': str(row[21]),
            'total_fourth_col': row[24]
            
        }

        current_product['ingredients'] = list_ingredients
        list_products.append(current_product)
        
        list_ingredients = []

        continue
    

    # Intermediate row (Ingredient)

    list_ingredients.append({
        'code': row[0],
        'name': row[8],
        # TODO rename those columns
        'unkown_col_1': row[14],
        'unkown_col_1': row[20],
        'unkown_col_1': row[24],
        'unkown_col_1': row[32],
        'unkown_col_1': row[36],
        'unkown_col_1': row[42]
    })

In [10]:
with open("data_converted\\iscala\\food_recipe_iscala.json", "w") as outfile:
    # json_data refers to the above JSON
    json.dump(list_products, outfile, indent=4)